//VARIABLES
$font: "Merriweather", serif;
$colorfont2: #f4edd7;
$col-rosa: #feb4b4;
$col-rosa-claro: #fbe4e4;
$col-violeta: #b4bbef;
$col-violeta-claro: #e9ebf9;
$colorfont1: #424242;
$col-naranja: #f09e42;

//---------------BARRA------------------------
#barratareas {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $colorfont2;
}
#grupos,
#historial {
  float: left;
  background-color: $col-rosa;
}

#nuevo {
  float: right;
  background-color: $col-violeta;
}
#grupos:hover,
#historial:hover,
#nuevo:hover {
  background-color: $col-naranja;
}
.botonera {
  display: flex;
  font-family: $font;
  color: #faf4e9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

//---------------------------------------

#buscar {
  display: block;
  color: #424242;
  text-align: left;
  text-decoration: none;
  font-family: $font;
  width: 15.6rem;
  background-color: #d9d9d9;
  padding: 6px;
  border: none;
  font-size: 100%;
}

#buscar:hover {
  background-color: #a0c9ce;
}

.listacontactosflex {
  width: 100%;
  display: flex;
  // flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
