<ul id="barratareas">
  <li id="grupos"><a class="botonera">Grupos</a></li>
  <li id="historial">
    <a class="botonera" [routerLink]="['/hist-llamadas']"
      >Historial de llamadas</a
    >
  </li>
  <li id="nuevo">
    <a class="botonera" [routerLink]="['/newcontact']">Nuevo contacto</a>
  </li>
</ul>

<input id="buscar" type="text" placeholder="Buscar.." />

<br />
<div class="listacontactosflex">
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
</div>
