// VARIABLES
$font: "Merriweather", serif;
$colorfont2: #f4edd7;
$col-rosa: #feb4b4;
$col-rosa-claro: #fbe4e4;
$col-violeta: #b4bbef;
$col-violeta-claro: #e9ebf9;
$colorfont1: #424242;
$col-naranja: #f09e42;

.tarjeta {
  position: relative; // Para posicionar elementos hijos de forma absoluta con respecto a este contenedor
  box-shadow: 0 2px 4px 0 #bbad8f;
  width: 28rem;
  height: 3rem;
  transition: 0.4s;
  background-color: $col-naranja;
  display: flex;
  flex-direction: column;
  align-items: center; // Para centrar horizontalmente
  justify-content: center; // Para centrar verticalmente
  margin-top: 1rem;
}

.tarjeta:hover {
  transform: scale(1.02);
}

.gname {
  font-size: 130%;
  font-family: $font;
  color: $colorfont2;
  text-align: center;
}

.vm {
  align-self: flex-start; // Para posicionar a la izquierda
  margin-left: 10px; // Ajusta según sea necesario
  margin-bottom: 10px; // Ajusta según sea necesario
  color: $colorfont1;
}

.editar {
  position: absolute; // Posicionamiento absoluto con respecto al padre
  bottom: 10px; // Ajusta según sea necesario
  right: 10px; // Ajusta según sea necesario
  height: 27px;
  width: 27px;
}

// ... (mantén las variables y estilos anteriores)

.tarjeta-edicion {
  box-shadow: 0 2px 4px 0 #bbad8f;
  width: 28rem;
  height: auto; // Ajusta según sea necesario
  transition: 0.4s;
  background-color: $col-violeta-claro;
  margin-top: 20px; // Ajusta según sea necesario
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tarjeta-edicion:hover {
  transform: scale(1.1);
}

.input {
  font-size: 90%;
  margin-bottom: 10px; // Ajusta según sea necesario
}

#guardar {
  background-color: $col-rosa;
  border: none;
  color: $colorfont1;
  font-family: $font;
  margin-top: 10px; // Ajusta según sea necesario
}

.label {
  font-size: 90%;
  font-family: $font;
  color: $colorfont1;
}
