<!-- tarjeta normal -->
<div
  *ngIf="!isEditing"
  class="tarjeta"
  [routerLink]="['/groupdetail', group.id]"
>
  <p class="gname" id="name">{{ group.name }}</p>
  <input
    class="editar"
    type="image"
    src="../../../../assets/img/edit.png"
    (click)="isEditing = true"
  />
</div>

<!-- tarjeta cuando se está editando -->
<form
  *ngIf="isEditing"
  class="tarjeta tarjeta-edicion"
  (ngSubmit)="editgroup(groupForeditData.id!, groupForeditData, form)"
  #form="ngForm"
>
  <label class="label" for="name">Nombre</label>
  <input
    type="text"
    id="name"
    class="input"
    name="name"
    [(ngModel)]="group.name"
  />
  <button id="guardar" type="submit" [disabled]="form.invalid">Guardar</button>
</form>
