// VARIABLES
$font: "Merriweather", serif;
$colorfont2: #f4edd7;
$col-rosa: #feb4b4;
$col-rosa-claro: #fbe4e4;
$col-violeta: #b4bbef;
$col-violeta-claro: #e9ebf9;
$colorfont1: #424242;
$col-naranja: #f09e42;

.tarjeta {
  position: relative;
  box-shadow: 0 2px 4px 0 #bbad8f;
  width: 28rem;
  height: 3rem;
  transition: 0.4s;
  background-color: $col-naranja;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.tarjeta:hover {
  transform: scale(1.02);
}

.gname {
  font-size: 130%;
  font-family: $font;
  color: $colorfont2;
  text-align: center;
}

.vm {
  align-self: flex-start;
  margin-left: 10px;
  margin-bottom: 10px;
  color: $colorfont1;
}

.editar {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 27px;
  width: 27px;
}

.tarjeta-edicion {
  box-shadow: 0 2px 4px 0 #bbad8f;
  width: 28rem;
  height: auto;
  transition: 0.4s;
  background-color: $col-violeta-claro;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tarjeta-edicion:hover {
  transform: scale(1.1);
}

.input {
  font-size: 90%;
  margin-bottom: 10px;
}

#guardar {
  background-color: $col-rosa;
  border: none;
  color: $colorfont1;
  font-family: $font;
  margin-top: 10px;
}

.label {
  font-size: 90%;
  font-family: $font;
  color: $colorfont1;
}
