//VARIABLES
$font: "Merriweather", serif;
$colorfont2: #f4edd7;
$col-rosa: #feb4b4;
$col-rosa-claro: #fbe4e4;
$col-violeta: #b4bbef;
$col-violeta-claro: #e9ebf9;
$colorfont1: #424242;
$col-naranja: #f09e42;

.tarjeta {
  display: block;
  box-shadow: 0 2px 4px 0 #bbad8f;
  text-align: center;
  transition: 0.4s;
  margin: 1rem;
  background-color: $col-rosa;
  padding: 0.5rem;
  padding-top: 1rem;
  text-align: center;
  width: 15rem;
  height: 18rem;
}

.tarjeta:hover {
  transform: scale(1.1);
}

#name {
  margin-top: 1rem;
  font-size: 100%;
  font-family: $font;
  color: $colorfont2;
}

#name {
  font-size: 140%;
  font-family: $font;
  color: $colorfont1;
  font-weight: bold;
}

#celularNumber {
  font-size: 110%;
  font-family: $font;
  color: $colorfont1;
}

#description {
  font-size: 90%;
  font-family: $font;
  color: $colorfont1;
}

img {
  border-radius: 50px;
  width: 20%;
  display: inline;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

#editar {
  margin-top: auto;
  border: none;
  color: $colorfont1;
  background-color: $col-naranja;
  text-align: center;
  width: 6rem;
  font-size: 100%;
  font-family: $font;
  border-radius: 1px;
  float: left;
  margin-top: 1.5rem;
}

#editar:hover,
#eliminar:hover
#grupo:hover {
  background-color: $col-rosa-claro;
}

#eliminar, #grupo{
  border: none;
  color: $colorfont1;
  background-color: $col-naranja;
  text-align: center;
  width: 6rem;
  font-size: 100%;
  font-family: $font;
  border-radius: 1px;
  display: flex;
  float: right;
  margin-top: 1.5rem;
}
