<div class="tarjeta">
  <p id="name">{{ contact.name }}</p>
  <p id="celularNumber">tel: {{ contact.telephoneNumber }}</p>
  <p id="celularNumber">cel: {{ contact.celularNumber }}</p>
  <p id="description">{{ contact.description }}</p>

  <a href="tel:{{ contact.celularNumber }}"
    ><img src="./../../../../assets/img/llamar-agenda.webp" alt="llamar"
  /></a>
  <a href="https://wa.me/{{ contact.celularNumber }}" target="_blank"
    ><img src="./../../../../assets/img/wpp-agenda.jpg" alt="whatsapp"
  /></a>
  <a href="https://web.telegram.org/" target="_blank"
    ><img src="./../../../../assets/img/telegram-agenda.png" alt="telegram"
  /></a>

  <input
    class="edit"
    type="image"
    src="../../../../assets/img/edit.png"
    (click)="editContacto(contact.id!)"
  />
  <input
    class="group"
    type="image"
    src="../../../../assets/img/group-icon.png"
    [routerLink]="['/selectgroup', contact.id]"
  />
  <input
    class="eliminar"
    type="image"
    src="../../../../assets/img/trash.png"
    (click)="deleteContacto(contact.id!)"
  />
</div>
