<div class="tarjeta">
  <p id="Name">dfgdhshd{{ contact.Name }}</p>
  <p id="CelularNumber">45456456{{ contact.CelularNumber }}</p>
  <p id="Description">natacion{{ contact.Description }}</p>
  <a href="tel:{{ contact.CelularNumber }}"
    ><img src="./../../../../assets/img/llamar-agenda.webp" alt="llamar"
  /></a>
  <a href="https://wa.me/{{ contact.CelularNumber }}" target="_blank"
    ><img src="./../../../../assets/img/wpp-agenda.jpg" alt="whatsapp"
  /></a>
  <a href="https://web.telegram.org/" target="_blank"
    ><img src="./../../../../assets/img/telegram-agenda.png" alt="telegram"
  /></a>
  <button class="p6" title="Borrar" (click)="deleteContacto(contact.id!)">
    Borrar
  </button>
  <button class="p7" title="Editar" (click)="editContacto(contact.id!)">
    Editar
  </button>
</div>
