// VARIABLES
$font: "Merriweather", serif;
$colorfont2: #f4edd7;
$col-rosa: #feb4b4;
$col-rosa-claro: #fbe4e4;
$col-violeta: #b4bbef;
$col-violeta-claro: #e9ebf9;
$colorfont1: #424242;
$col-naranja: #f09e42;

.tarjeta {
  display: block;
  box-shadow: 0 2px 4px 0 #bbad8f;
  text-align: center;
  transition: 0.4s;
  margin: 1rem;
  background-color: $col-rosa;
  padding: 0.5rem;
  padding-top: 1rem;
  text-align: center;
  width: 15rem;
  height: 18rem;
  position: relative;
}

.tarjeta:hover {
  transform: scale(1.05);
}

#name {
  margin-top: 1rem;
  font-size: 140%;
  font-family: $font;
  color: $colorfont1;
  font-weight: bold;
}

#celularNumber {
  font-size: 100%;
  font-family: $font;
  color: $colorfont1;
}

#description {
  font-size: 80%;
  font-family: $font;
  color: $colorfont1;
}

img {
  border-radius: 50px;
  width: 20%;
  display: inline;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.edit {
  position: absolute;
  bottom: 1rem;
  left: 1rem; // Ajustado para estar a la izquierda
  width: 30px; // Ajusta según sea necesario
  height: 30px; // Ajusta según sea necesario
}

.group {
  position: absolute;
  bottom: 1rem;
  left: 50%; // Centrado en el medio
  transform: translateX(-50%);
  width: 30px; // Ajusta según sea necesario
  height: 30px; // Ajusta según sea necesario
}

.eliminar {
  position: absolute;
  bottom: 1rem;
  right: 1rem; // Ajustado para estar a la derecha
  width: 30px; // Ajusta según sea necesario
  height: 30px; // Ajusta según sea necesario
}
