<ul id="barratareas">
  <li id="grupos">
    <a class="botonera" [routerLink]="['/contacts']">Contactos</a>
  </li>
  <li class="nuevo" id="profile">
    <a class="botonera" [routerLink]="['/profile']">Perfil</a>
  </li>
  <li class="nuevo">
    <a class="botonera" [routerLink]="['/newgroup']">Nuevo grupo</a>
  </li>
</ul>

<br />
<div class="listagruposflex">
  <app-group-card
    *ngFor="let group of groupsData"
    [group]="group"
  ></app-group-card>
  <img
    class="cartel-ux"
    *ngIf="!groupsData || groupsData.length === 0"
    src="../../../../assets/img/no-groups.png"
  />
</div>
