<h2 id="grupo">GRUPOS</h2>

<!-- <div class="listacontactosflex">
  <app-group></app-group>
  <app-group></app-group>
  <app-group></app-group>
  <app-group></app-group>
  <app-group></app-group>
  <app-group></app-group>
</div> -->

<!-- ng for -->
<!-- <div>
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
  <app-contactcard></app-contactcard>
</div> -->
