
#header{
    background-color: #FAB96B;
    display: flex;
}

#gorila{
    width: 5rem;
    height: 5rem;
}

#logo{
    width: 5rem;
    height: 5rem;
}

#agenda{
    font-family: inter ;
    color: #EA777B;
    margin-left: auto;
    margin-right: auto;
    font-size: 200%;
}


