#barratareas {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#baa4c3 ;
}
.botoneras{
    float: left;
}

.botonera {
    display: flex;
    font-family: inter ;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#agenda{
    display: flex;
    font-family: inter ;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


