//VARIABLES
$font: "Merriweather", serif;
$colorfont2: #f4edd7;
$col-rosa: #feb4b4;
$col-rosa-claro: #fbe4e4;
$col-violeta: #b4bbef;
$col-violeta-claro: #e9ebf9;
$colorfont1: #424242;
$col-naranja: #f09e42;

.tarjeta {
  text-align: center;
  width: 20rem;
  height: 30rem;
  background-color: #f09e42;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

#nombre {
  font-size: 150%;
  font-family: "Merriweather", serif;
  color: #424242;
  font-weight: bold;
}

#eliminar:hover {
  background-color: #fbe4e4;
}

#eliminar {
  border: none;
  color: #424242;
  background-color: #feb4b4;
  text-align: center;
  width: 6rem;
  font-size: 100%;
  font-family: "Merriweather", serif;
  border-radius: 1px;
  display: flex;
  float: right;
  margin-bottom: 0%;
}

.listacontactosflex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: space-between;
}
