//VARIABLES
$font: "Merriweather", serif;
$colorfont2: #f4edd7;
$col-rosa: #feb4b4;
$col-rosa-claro: #fbe4e4;
$col-violeta: #b4bbef;
$col-violeta-claro: #e9ebf9;
$colorfont1: #424242;

.iniciarsesion {
  width: 100%;
  height: 200%;
  text-align: left;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

#login {
  font-family: $font;
  font-weight: 100%;
  font-size: 170%;
  color: $colorfont1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 13rem;
}

.input {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  display: block;
  width: 13rem;
  background: $col-rosa-claro;
  padding: 10px 12px;
  border-radius: 1px;
  border: solid 1px;
  border-color: transparent;
  transition: 0.2s;
}
.input:hover {
  background-color: #faf4e9;
  border-color: $col-rosa;
}
.input:focus {
  background-color: #faf4e9;
}

.label {
  color: $colorfont1;
  font-weight: 100%;
  width: 14.5rem;
  font-family: $font;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// .guardar{
//     margin-bottom: 1rem;
//     background: #F3D9D0;
//     padding: 10px 12px;
//     border-radius: 1px;
//     border: solid 1px;
//     border-color: transparent;
//     transition:  0.2s;
// }
// .guardar::before{
//     background-color: #EA777B;
// }

#lguardar {
  color: $colorfont1;
  font-weight: 100%;
  font-size: 70%;
  width: 15.1rem;
  font-family: $font;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

#Bingresar {
  border: none;
  background-color: $col-rosa;
  border-radius: 1px;
  font-family: $font;
  font-size: 100%;
  color: $colorfont2;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 14.6rem;
  height: 1.7rem;
  margin-bottom: 1%;
}

#Bingresar:hover {
  background-color: #fab96b;
}

#Lregistrarse {
  color: $colorfont1;
  font-weight: 100%;
  font-size: 70%;
  width: 10.5rem;
  font-family: $font;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
