//VARIABLES
$font: "Merriweather", serif;
$colorfont2: #f4edd7;
$col-rosa: #feb4b4;
$col-rosa-claro: #fbe4e4;
$col-violeta: #b4bbef;
$col-violeta-claro: #e9ebf9;
$colorfont1: #424242;

#home {
  text-align: center;
  width: 40rem;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

#title {
  font-family: $font;
  color: $colorfont1;
}

#login {
  border: none;
  font-style: normal;
  font-family: $font;
  background-color: $col-rosa;
  color: $colorfont1;
  font-weight: 100%;
  font-size: 170%;
  margin-left: auto;
  margin-right: auto;
  width: 13rem;
  display: inline;
  float: left;
  margin-top: 5%;
  margin-left: 15%;
  padding: 0.5rem;
}

#signin {
  border: none;
  font-family: $font;
  font-style: normal;
  background-color: $col-violeta;
  color: $colorfont1;
  font-weight: 100%;
  font-size: 170%;
  margin-left: auto;
  margin-right: auto;
  width: 12rem;
  display: inline;
  float: right;
  margin-top: 5%;
  margin-right: 15%;
  padding: 0.5rem;
}
