

#iniciasesion{
    padding: 10px;
    border: 1px solid gray;
    background-color:#baa4c3;
    border-radius: 4px;
    font-family: inter;
    font-size: 100%;
    width: 150%;
    margin-bottom: 1%;
    cursor: pointer;
}

#iniciasesion:hover{
    background-color:#a667bf;
}
#iniciasesion:focus{
    color: #ffffff;
}

#registrate{
    padding: 10px;
    border: 1px solid gray;
    background-color:#baa4c3;
    border-radius: 4px;
    font-family: inter;
    font-size: 100%;
    width: 150%;
    margin-bottom: 1%;
    cursor: pointer;
}

#registrate:hover{
    background-color:#a667bf;
}
#registrate:focus{
    color: #ffffff;
}


#botones{
    display: inline;
}

#fotogatito{
    width: 25%;
    border-radius: 10px;
}

#todo{
    display: flex;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-right: 20%;

}