<h2 id="editarcontacto">NUEVO GRUPO</h2>
<div class="tarjeta">
  <form (ngSubmit)="newgroup(form)" #form="ngForm">
    <div class="inputsEditarContacto">
      <label class="label" for="name">Nombre</label>
      <input
        type="text"
        id="name"
        class="input"
        name="name"
        placeholder="Ingrese el nombre del grupo"
        [(ngModel)]="groupData.name"
        #name="ngModel"
        [maxlength]="15"
        required
      />
      <div>
        <button id="atras" type="submit" [routerLink]="['/contacts']">
          Atrás
        </button>
      </div>
      <button id="Bguardar" type="submit" [disabled]="form.invalid">
        Guardar
      </button>
    </div>
  </form>
</div>
