<h2 id="editarcontacto">EDITAR PERFIL</h2>
<div class="tarjeta">
  <form>
    <div>
      <label class="label" for="name">Nombre</label>
      <input type="text" id="name" class="input" name="name" />
    </div>
    <div>
      <label class="label" for="lastname">Apellido </label>
      <input type="text" id="lastname" class="input" name="lastname" />
    </div>
    <div>
      <label class="label" for="email">Correo electrónico</label>
      <input name="email" id="email" class="input" />
    </div>

    <button id="Baceptar" type="submit">Aceptar</button>
  </form>
</div>

<!-- (ngSubmit)="editContactFull(contactForeditData.id!, form)"
#form="ngForm" -->

<!-- [(ngModel)]="contactForeditData.Description"
        #Description="ngModel"
        [maxlength]="60" -->

<!-- [disabled]="form.invalid" -->
