<ul id="barratareas">
    <li id="contacts"><a class="botonera" [routerLink]="['/contacts']">Contactos</a></li>
    <li id="nuevo"><a class="botonera" [routerLink]="['/newcontact']">Nuevo contacto</a></li>
    <li id="miperfil"><a class="botonera" [routerLink]="['/miperfil']">Mi perfil</a></li>
</ul>

<div class="tarjeta">
    <br>
    <!-- <button id="fav">☆</button> -->
    <img id="imgcontacto" src="./../../../../assets/img/foto-perfil-agenda.webp" alt="imagen del contacto">
    <br>
    <p id="nombre">Nombre</p>
    <p id="tel">+543413478223</p>
    <br> 
    <a href="tel:+543413478223"><img src="./../../../../assets/img/llamar-agenda.webp" alt="llamar"></a>
    <a href="https://web.whatsapp.com/" target="_blank"><img src="./../../../../assets/img/wpp-agenda.jpg" alt="whatsapp"></a>
    <a href="https://web.telegram.org/" target="_blank"><img src="./../../../../assets/img/telegram-agenda.png" alt="telegram"></a>
    <br>
    <p id="descr">Descripcion asdasdasdas SDAFAS DADdsd asddadaf asffdaef feef</p>
    <br>
    <button id="editar" [routerLink]="['/editcontact']">Editar</button>
    <button id="eliminar" [routerLink]="['/contacts']">Eliminar</button>
</div>