#barratareas {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#F19474 ;
}
#contacts{
    float: left;
    background-color: #69A2A8;
}
#nuevo{
    float: left;
    background-color: #EA777B;
}
#miperfil{
    float: right;
    background-color: #96B5B8;
}
#contacts:hover, #nuevo:hover, #miperfil:hover{
    background-color: #F19474;
}
.botonera {
    display: flex;
    font-family: inter ;
    color: #FAF4E9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}


.tarjeta {
    text-align: center;
    width: 20rem;
    height: 30rem ;
    background-color: #E8E2D8;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;

}
 
// #fav{
//     border: none;
//     color: #424242;
//     background-color: #ECE778;
//     font-size: 170%;
//     font-family: inter;
//     border-radius: 1px;
//     float: right;
//     display: block;  
// }

#imgcontacto{
    border-radius: 50px;
    width: 7rem;
}

#nombre{
    font-size: 150%;
    font-family: inter;
    color: #424242;
    font-weight: bold;
}

#tel{
    font-size: 100%;
    font-family: inter;
    color: #424242;
}

#descr{
    font-size: 60%;
    font-family: inter;
    color: #424242;
}


img{
    border-radius: 50px;
    width: 20%;
    display: inline;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}




#editar {
    border: none;
    color: #424242;
    background-color: #FFD5A2;
    text-align: center;
    width: 6rem;
    font-size: 100%;
    font-family: inter;
    border-radius: 1px;
    display: inline;
    float: left; 
}

#editar:hover{
    background-color: #f0c289;
}

#eliminar {
    border: none;
    color: #424242;
    background-color: #F7B8B8;
    text-align: center;
    width: 6rem;
    font-size: 100%;
    font-family: inter;
    border-radius: 1px;
    display: inline;
    float: right; 
}

#editar:hover{
    background-color: #f0c289;
}
