
.card {
    max-width: 300px;
    margin: auto;
    text-align: center;
}
  

img{
    border-radius: 50px;
    width: 70%;
}

p{
    font-size: 150%;
    font-family: inter
}

#volver{
    border: none;
    padding: 2%;
    color: white;
    background-color: #9f67b5;
    text-align: center;
    width: 100%;
    font-size: 100%;
    font-family: inter;
    border-radius: 7px;
}

#volver:hover{
    background-color: #9d47bf;
}
#volver:focus{
    color: #000000;
}

.ojo {
    border: none;
    padding: 2%;
    color: #000000;
    background-color: #ad8cba;
    text-align: center;
    width: 50%;
    font-size: 80%;
    font-family: inter;
    border-radius: 7px;
}



.ojo:hover{
    background-color: #c54040;
    color: #ffffff;
}

#wpp{
    border-radius: 50px;
    width: 20%;
}
//ESTOY ACOMODANDO LA FOTO DE WHATSAPP