<div class="tarjeta">
  <br />
  <img
    id="imgcontacto"
    src="./../../../../assets/img/foto-perfil-agenda.webp"
    alt="imagen del contacto"
  />
  <br />
  <p id="nombre">{{ contact.nombre }}</p>
  <p id="tel">{{ contact.telefono }}</p>
  <br />
  <a href="tel:{{ contact.telefono }}"
    ><img src="./../../../../assets/img/llamar-agenda.webp" alt="llamar"
  /></a>
  <a href="https://wa.me/{{ contact.telefono }}" target="_blank"
    ><img src="./../../../../assets/img/wpp-agenda.jpg" alt="whatsapp"
  /></a>
  <a href="https://web.telegram.org/" target="_blank"
    ><img src="./../../../../assets/img/telegram-agenda.png" alt="telegram"
  /></a>
  <br />
  <p id="descr">{{ contact.descripcion }}</p>
  <br />
  <button
    id="editar"
    (dblclick)="deleteContacto(contact.id!)"
    [routerLink]="['/editcontact']"
  >
    Editar
  </button>
  <button
    id="eliminar"
    (dblclick)="editContacto(contact.id!)"
    [routerLink]="['/contacts']"
  >
    Eliminar
  </button>
</div>
