<div class="tarjeta">
  <br />
  <br />
  <p id="Name">{{ contact.Name }}</p>
  <p id="CelularNumber">{{ contact.CelularNumber }}</p>
  <br />
  <a href="tel:{{ contact.CelularNumber }}"
    ><img src="./../../../../assets/img/llamar-agenda.webp" alt="llamar"
  /></a>
  <a href="https://wa.me/{{ contact.CelularNumber }}" target="_blank"
    ><img src="./../../../../assets/img/wpp-agenda.jpg" alt="whatsapp"
  /></a>
  <a href="https://web.telegram.org/" target="_blank"
    ><img src="./../../../../assets/img/telegram-agenda.png" alt="telegram"
  /></a>
  <br />
  <p id="Description">{{ contact.Description }}</p>
  <br />
  <button
    id="editar"
    (dblclick)="deleteContacto(contact.id!)"
    [routerLink]="['/editcontact']"
  >
    Editar
  </button>
  <button
    id="eliminar"
    (dblclick)="editContacto(contact.id!)"
    [routerLink]="['/contacts']"
  >
    Eliminar
  </button>
</div>
