// //VARIABLES
// $font: "Merriweather", serif;
// $colorfont2: #f4edd7;
// $col-rosa: #feb4b4;
// $col-rosa-claro: #fbe4e4;
// $col-violeta: #b4bbef;
// $col-violeta-claro: #e9ebf9;
// $colorfont1: #424242;
// $col-naranja: #f09e42;

// #editarcontacto {
//   font-family: $font;
//   font-weight: 100%;
//   font-size: 200%;
//   color: $colorfont1;
//   text-align: center;
// }

// .tarjeta {
//   text-align: center;
//   width: 20rem;
//   height: 29rem;
//   background-color: $col-naranja;
//   margin-left: auto;
//   margin-right: auto;
//   padding-top: 2rem;
// }

// .label {
//   color: $colorfont1;
//   font-weight: 10%;
//   width: 60%;
//   font-family: $font;
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   margin-top: 1rem;
//   margin-bottom: 0.5rem;
// }

// #nombre,
// #tel,
// #descripcion,
// select {
//   font-size: 80%;
//   width: 75%;
//   font-family: $font;
//   color: $colorfont1;
// }

// .input,
// select {
//   padding: 1.5% 1.5%;
//   box-sizing: border-box;
//   border: 1px solid $col-rosa-claro;
//   border-radius: 4px;
//   margin-left: auto;
//   margin-right: auto;
//   margin-bottom: 2%;
// }

// .input {
//   padding: 1.5% 1.5%;
//   box-sizing: border-box;
//   border: 1px solid $col-naranja;
//   border-radius: 4px;
//   margin-left: auto;
//   margin-right: auto;
//   margin-bottom: 2%;
// }
// .input:focus,
// select:focus {
//   background-color: $col-rosa-claro;
// }

// #Baceptar {
//   border: none;
//   font-style: normal;
//   font-family: $font;
//   background-color: $col-rosa;
//   color: $colorfont1;
//   font-size: 140%;
//   margin-left: auto;
//   margin-right: auto;
//   width: 11rem;
//   margin-left: 15%;
//   margin: 0 auto;
//   margin-top: 1rem;
//   display: block;
// }

// #Baceptar:hover {
//   background-color: $col-rosa-claro;
// }
