<h2 id="editarcontacto">PERFIL</h2>

<div class="tarjeta" *ngIf="!isEditing">
  <h2 id="name">{{ user.name }}</h2>
  <h2 id="lastname">{{ user.lastName }}</h2>
  <p id="email">{{ user.email }}</p>
  <button id="eliminar" title="Borrar" (click)="deleteUsuario(user.id!)">
    Eliminar Cuenta
  </button>
  <button id="editar" title="Editar" (click)="isEditing = true">Editar</button>
</div>

<form
  *ngIf="isEditing"
  class="tarjeta"
  (ngSubmit)="editUsuario(userForEditData.id!, user, form)"
  #form="ngForm"
>
  <div>
    <label class="label" for="name">Nombre</label>
    <input
      type="text"
      id="name"
      class="input"
      name="name"
      [(ngModel)]="userForEditData.name"
    />
  </div>
  <div>
    <label class="label" for="lastname">Apellido </label>
    <input
      type="text"
      id="lastname"
      class="input"
      name="lastname"
      [(ngModel)]="userForEditData.lastname"
    />
  </div>
  <div>
    <label class="label" for="email">Correo electrónico</label>
    <input
      name="email"
      id="email"
      class="input"
      [(ngModel)]="userForEditData.email"
    />
  </div>

  <button
    id="Baceptar"
    type="submit"
    [disabled]="form.invalid"
    (click)="isEditing = false"
  >
    Aceptar
  </button>
</form>
