<!-- <div class="tarjeta">
  <form (ngSubmit)="editcontact(contactForeditData, form)" #form="ngForm">
    <div>
      <label class="label" for="name">Nombre</label>
      <input
        type="text"
        id="name"
        class="input"
        name="name"
        [(ngModel)]="contactForeditData.name"
        #name="ngModel"
        [maxlength]="15"
        placeholder="{{ contactForeditData.name }}"
      />
    </div>
    <div>
      <label class="label" for="celularNumber">Teléfono </label>
      <input
        type="text"
        id="celularNumber"
        class="input"
        name="celularNumber"
        [(ngModel)]="contactForeditData.celularNumber"
        #celularNumber="ngModel"
        [maxlength]="15"
      />
    </div>
    <div>
      <label class="label" for="description">Descripción</label>
      <textarea
        name="description"
        id="description"
        class="input"
        cols="30"
        rows="3"
        [(ngModel)]="contactForeditData.description"
        #description="ngModel"
        [maxlength]="60"
      ></textarea>
    </div>
    <button id="Baceptar" type="submit" [disabled]="form.invalid">
      Aceptar
    </button>
  </form>
</div>

<!-- <div class="tarjeta">
  <form (ngSubmit)="editcontact(contactForeditData.id, form)" #form="ngForm">
    <div>
      <label class="label" for="name">Nombre</label>
      <input
        type="text"
        id="name"
        class="input"
        name="name"
        [(ngModel)]="contactForeditData.name"
        #name="ngModel"
        [maxlength]="15"
        placeholder="{{ contactForeditData.name }}"
      />
    </div>
    <div>
      <label class="label" for="celularNumber">Teléfono </label>
      <input
        type="text"
        id="celularNumber"
        class="input"
        name="celularNumber"
        [(ngModel)]="contactForeditData.celularNumber"
        #celularNumber="ngModel"
        [maxlength]="15"
      />
    </div>
    <div>
      <label class="label" for="description">Descripción</label>
      <textarea
        name="description"
        id="description"
        class="input"
        cols="30"
        rows="3"
        [(ngModel)]="contactForeditData.description"
        #description="ngModel"
        [maxlength]="60"
      ></textarea>
    </div>

    <button id="Baceptar" type="submit" [disabled]="form.invalid">
      Aceptar
    </button>
  </form>
</div> -->

<!-- <div>
      <label class="label" for="group">Grupo</label>
      <select multiple>
        <option *ngFor="let group of groupsData" [value]="group.nombre">
          {{ group.nombre }}
        </option>
      </select>
    </div>  -->

<!-- (ngSubmit)="editcontact(contactForeditData, form)" -->
<!-- 
(ngSubmit)="contactForEditData()" -->
<!-- (ngSubmit)="contactForEditData(contactForeditData.id!)"  -->

<div class="fondo">
  <div id="fondo-ingresos">
    <section id="title">
      <h1>Editar Contato</h1>
    </section>

    <section id="ingresos">
      <div class="container">
        <form (ngSubmit)="editContactFull(form)" #form="ngForm">
          <div class="inputs">
            <label for="name">Nombre</label>
            <input
              type="text"
              value="algo"
              name="name"
              id="name"
              autocomplete="name"
              placeholder="Ingrese el nombre"
              [(ngModel)]="contactForeditData.name"
              #name="ngModel"
              [maxlength]="15"
            />
          </div>
          <div class="inputs">
            <label for="celularNumber">Celular</label>
            <input
              type="text"
              name="celularNumber"
              id="celularNumber"
              autocomplete="celularNumber"
              placeholder="Ingrese el celular"
              [(ngModel)]="contactForeditData.celularNumber"
              #celularNumber="ngModel"
              [maxlength]="15"
            />
          </div>

          <div class="inputs">
            <label for="telephoneNumber">Telefono</label>
            <input
              type="text"
              name="telephoneNumber"
              id="telephoneNumber"
              placeholder="Ingrese el telefono"
              [(ngModel)]="contactForeditData.telephoneNumber"
              #telephoneNumber="ngModel"
              [maxlength]="15"
            />
          </div>

          <div class="inputs">
            <label for="description">descripción</label>
            <textarea
              type="text"
              name="description"
              id="description"
              placeholder="Ingrese la descripción"
              [(ngModel)]="contactForeditData.description"
              #description="ngModel"
              cols="30"
              rows="3"
            >
            </textarea>
          </div>

          <div>
            <button type="submit" [disabled]="form.invalid">Cargar</button>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
