<div class="tarjeta">
  <form (ngSubmit)="editcontact(contactForeditData, form)" #form="ngForm">
    <div>
      <label class="label" for="name">Nombre</label>
      <input
        type="text"
        id="name"
        class="input"
        name="name"
        [(ngModel)]="contactForeditData.name"
        #name="ngModel"
        [maxlength]="15"
        placeholder="{{ contactForeditData.name }}"
      />
    </div>
    <div>
      <label class="label" for="celularNumber">Teléfono </label>
      <input
        type="text"
        id="celularNumber"
        class="input"
        name="celularNumber"
        [(ngModel)]="contactForeditData.celularNumber"
        #celularNumber="ngModel"
        [maxlength]="15"
      />
    </div>
    <div>
      <label class="label" for="description">Descripción</label>
      <textarea
        name="description"
        id="description"
        class="input"
        cols="30"
        rows="3"
        [(ngModel)]="contactForeditData.description"
        #description="ngModel"
        [maxlength]="60"
      ></textarea>
    </div>
    <button id="Baceptar" type="submit" [disabled]="form.invalid">
      Aceptar
    </button>
  </form>
</div>

<!-- <div class="tarjeta">
  <form (ngSubmit)="editcontact(contactForeditData.id, form)" #form="ngForm">
    <div>
      <label class="label" for="name">Nombre</label>
      <input
        type="text"
        id="name"
        class="input"
        name="name"
        [(ngModel)]="contactForeditData.name"
        #name="ngModel"
        [maxlength]="15"
        placeholder="{{ contactForeditData.name }}"
      />
    </div>
    <div>
      <label class="label" for="celularNumber">Teléfono </label>
      <input
        type="text"
        id="celularNumber"
        class="input"
        name="celularNumber"
        [(ngModel)]="contactForeditData.celularNumber"
        #celularNumber="ngModel"
        [maxlength]="15"
      />
    </div>
    <div>
      <label class="label" for="description">Descripción</label>
      <textarea
        name="description"
        id="description"
        class="input"
        cols="30"
        rows="3"
        [(ngModel)]="contactForeditData.description"
        #description="ngModel"
        [maxlength]="60"
      ></textarea>
    </div>

    <button id="Baceptar" type="submit" [disabled]="form.invalid">
      Aceptar
    </button>
  </form>
</div> -->

<!-- <div>
      <label class="label" for="group">Grupo</label>
      <select multiple>
        <option *ngFor="let group of groupsData" [value]="group.nombre">
          {{ group.nombre }}
        </option>
      </select>
    </div>  -->

<!-- (ngSubmit)="editcontact(contactForeditData, form)" -->
<!-- 
(ngSubmit)="contactForEditData()" -->
<!-- (ngSubmit)="contactForEditData(contactForeditData.id!)" -->
