<h2 id="nuevocontacto">NUEVO CONTACTO</h2>
<div class="tarjeta">
  <form (ngSubmit)="newcontact(form)" #form="ngForm">
    <div>
      <label class="label" for="Name">Nombre</label>
      <input
        type="text"
        id="Name"
        class="input"
        name="Name"
        placeholder="Ingrese su nombre"
        [(ngModel)]="contactData.Name"
        #Name="ngModel"
        [maxlength]="15"
      />
    </div>
    <div>
      <label class="label" for="CelularNumber">Teléfono</label>
      <input
        type="text"
        id="CelularNumber"
        class="input"
        name="CelularNumber"
        placeholder="Ingrese su numero telefónico"
        [(ngModel)]="contactData.CelularNumber"
        #CelularNumber="ngModel"
        [maxlength]="15"
      />
    </div>
    <div>
      <label class="label" for="Description">Descripción</label>
      <textarea
        name="Description"
        id="Description"
        class="input"
        cols="30"
        rows="3"
      ></textarea>
    </div>
    <!-- <div>
      <label class="label" for="group">Grupo</label>
      <select multiple>
        <option *ngFor="let group of groupsData" [value]="group.nombre">
          {{ group.nombre }}
        </option>
      </select>
    </div> -->
    <button id="Bguardar" type="submit" [disabled]="form.invalid">
      Guardar
    </button>
  </form>
</div>
