<h2 id="nuevocontacto">NUEVO CONTACTO</h2>
<div class="tarjeta">
  <form action="">
    <div>
      <label class="label" for="nombre">Nombre</label>
      <input
        type="text"
        id="nombre"
        class="input"
        name="nombre"
        placeholder="Ingrese su nombre"
      />
    </div>
    <div>
      <label class="label" for="tel">Teléfono</label>
      <input
        type="text"
        id="tel"
        class="input"
        name="tel"
        placeholder="Ingrese su numero telefónico"
      />
    </div>
    <div>
      <label class="label" for="descripcion">Descripción</label>
      <textarea
        name="descripcion"
        id="descripcion"
        class="input"
        cols="30"
        rows="3"
      ></textarea>
    </div>
    <div>
      <label class="label" for="group">Grupo</label>
      <select multiple>
        <option *ngFor="let group of groupsData" [value]="group.nombre">
          {{ group.nombre }}
        </option>
      </select>
    </div>
    <button id="Bguardar" type="submit" [routerLink]="['/contacts']">
      Guardar
    </button>
  </form>
</div>
