<h2 id="nuevocontacto">NUEVO CONTACTO</h2>
<div class="tarjeta">
  <form (ngSubmit)="newcontact(form)" #form="ngForm">
    <div>
      <label class="label" for="name">Nombre</label>
      <input
        type="text"
        id="name"
        class="input"
        name="name"
        [(ngModel)]="contactData.name"
        #name="ngModel"
        [maxlength]="15"
      />
    </div>
    <div>
      <label class="label" for="telephoneNumber">Teléfono</label>
      <input
        type="text"
        id="telephoneNumber"
        class="input"
        name="telephoneNumberr"
        [(ngModel)]="contactData.telephoneNumber"
        #telephoneNumber="ngModel"
        [maxlength]="15"
      />
    </div>
    <div>
      <label class="label" for="celularNumber">Celuar</label>
      <input
        type="text"
        id="celularNumber"
        class="input"
        name="celularNumber"
        [(ngModel)]="contactData.celularNumber"
        #celularNumber="ngModel"
        [maxlength]="15"
      />
    </div>
    <div>
      <label class="label" for="description">Descripción</label>
      <textarea
        name="description"
        id="description"
        class="input"
        [(ngModel)]="contactData.description"
        #description="ngModel"
        cols="30"
        rows="3"
      ></textarea>
    </div>
    <button id="Bguardar" type="submit" [disabled]="form.invalid">
      Guardar
    </button>
  </form>
</div>
