
#barratareas {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#F19474 ;
}
#contacts{
    float: left;
    background-color: #69A2A8;
}
#nuevo{
    float: left;
    background-color: #EA777B;
}
#miperfil{
    float: right;
    background-color: #96B5B8;
}
#contacts:hover, #nuevo:hover, #miperfil:hover{
    background-color: #F19474;
}
.botonera {
    display: flex;
    font-family: inter ;
    color: #FAF4E9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}



.tarjeta {
    text-align: center;
    width: 20rem;
    height: 30rem ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    background-color: #EA777B;
}
  




#imgcontacto{
    border-radius: 50px;
    width: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button{
    margin-bottom: 1rem;
}

.label{
    color: #424242;
    font-weight: 100%;
    width: 17.3rem;
    font-family: inter;
    display: block;
    text-align: left;
    float: right;
    font-weight: bold;
    
}
.input{  
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    display: block;
    width: 13rem;
    background: #F3D9D0;
    padding: 10px 12px;
    border-radius: 1px;
    border: solid 1px;
    border-color: transparent;
    transition:  0.2s;
  }
.input:HOVER{
    background-color: #FAF4E9;
    border-color: #EA777B;
}
.input:focus{
    background-color: #FAF4E9;
}

#Banadir {
    border: none;
    background-color:#FAB96B;
    border-radius: 1px;
    font-family: inter;
    font-size: 150%;
    width: 5rem;
    margin-bottom: 1%;
    color: #424242;
    font-weight: bold;
}
#Banadir:hover {
    background-color: #eba754;
}