// VARIABLES
$font: "Merriweather", serif;
$colorfont2: #f4edd7;
$col-rosa: #feb4b4;
$col-rosa-claro: #fbe4e4;
$col-violeta: #b4bbef;
$col-violeta-claro: #e9ebf9;
$colorfont1: #424242;
$col-naranja: #f09e42;
$col-naranja-claro: #f1d8bc;

.nombre {
  text-align: center;
  margin-top: 4rem;
  position: relative;

  strong {
    font-size: 200%;
    font-family: $font;
    color: $colorfont1;
    display: inline-block;
  }

  .eliminar {
    width: 20px; // Ajusta según sea necesario
    height: 20px; // Ajusta según sea necesario
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.5rem; // Ajusta según sea necesario
    margin-right: 4rem; // Ajusta según sea necesario
  }
}

.card {
  margin-top: 1.5rem;
  text-align: center;
  background-color: $col-naranja-claro;

  #contactos {
    font-size: 150%;
    font-family: $font;
    color: $colorfont1;
    display: inline-block;
    padding-top: 1rem;
  }

  label {
    strong {
      font-size: 120%; // Ajusta según sea necesario
      font-family: $font;
      color: $colorfont1;
    }
  }

  .cartel-ux,
  .for {
    font-size: 90%; // Ajusta según sea necesario
    font-family: $font;
    color: $colorfont1;
    padding-bottom: 3rem;
  }
}
