<div id="todo">
  <input
    class="atras"
    type="image"
    src="../../../../assets/img/atras.png"
    alt="atras"
    [routerLink]="['/group']"
  />

  <div class="nombre">
    <strong>{{ group.name }}</strong>

    <input
      class="eliminar"
      type="image"
      src="../../../../assets/img/trash.png"
      (click)="deleteGroup(group.id!)"
    />
  </div>

  <div class="card">
    <div
      class="tarjeta"
      id="nombrecontacto"
      *ngFor="let contactsData of group.contacts"
    >
      ❀ {{ contactsData?.name }},
    </div>

    <p class="cartel-ux" *ngIf="!group.contacts || group.contacts.length === 0">
      No tenés contactos en este grupo.
    </p>
  </div>
</div>
