// VARIABLES
$font: "Merriweather", serif;
$colorfont2: #f4edd7;
$col-rosa: #feb4b4;
$col-rosa-claro: #fbe4e4;
$col-violeta: #b4bbef;
$col-violeta-claro: #e9ebf9;
$colorfont1: #424242;
$col-naranja: #f09e42;
$col-naranja-claro: #f1d8bc;

.nombre {
  text-align: center;
  position: relative;

  strong {
    font-size: 300%;
    font-family: $font;
    color: $colorfont1;
    display: inline-block;
    color: $col-naranja;
  }
}
#todo {
  margin-top: 6rem;
}
.atras {
  width: 2rem;
  height: 2rem;
  margin-top: 0.5rem;
  margin-left: 45rem;
}

.eliminar {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 4rem;
}

.card {
  margin-top: 1.5rem;
  text-align: center;

  #contactos {
    font-size: 150%;
    font-family: $font;
    color: $colorfont1;
    display: inline-block;
    padding-top: 1rem;
  }

  label {
    strong {
      font-size: 120%;
      font-family: $font;
      color: $colorfont1;
    }
  }

  .cartel-ux {
    font-size: 120%;
    font-weight: bold;
    font-family: $font;
    color: $colorfont1;
    padding-bottom: 1rem;
  }

  .tarjeta {
    font-size: 120%;
    box-shadow: 0 2px 4px 0 #bbad8f;
    transition: 0.4s;
    font-weight: bold;
    font-family: $font;
    color: $colorfont1;
    padding: 0.6rem;
    margin-top: 0.5rem;
    background-color: $col-rosa;
    width: 13rem;
    margin-left: auto;
    margin-right: auto;
  }

  .tarjeta:hover {
    transform: scale(1.02);
  }
}
