
<h1>Group detail</h1>

<div class="letras-container">
    <div class="letras">
    </div>
    <div class="title">
        <div class="nombre"><strong>{{group.name}}</strong></div>
    </div>
</div>


<div class="card">
    <div class="top">
    <h2>Informacion del grupo</h2>
    <input class="eliminar" type="image" src="https://cdn-icons-png.flaticon.com/512/1345/1345874.png"
        (click)="deleteGroup(group.id!)">
    </div>
    

<div class="info">
    <label><strong>Contactos: </strong></label>
    <div class="for" *ngFor="let contactsData of group.contacts">Nombre: {{contactsData?.name}},</div>
</div>
</div>

