<div class="nombre">
  <strong>{{ group.name }}</strong>
  <input
    class="eliminar"
    type="image"
    src="../../../../assets/img/trash.png"
    (click)="deleteGroup(group.id!)"
  />
</div>

<div class="card">
  <p id="contactos">Contactos:</p>
  <div
    class="for"
    id="nombrecontacto"
    *ngFor="let contactsData of group.contacts"
  >
    ⦿ {{ contactsData?.name }},
  </div>
  <p class="cartel-ux" *ngIf="!group.contacts || group.contacts.length === 0">
    No tenés contactos en este grupo.
  </p>
</div>
