.for{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: auto;
    background: #fff;
    border-radius: 5px;
}
.formulario h1{
    text-align: center;
    padding: 0 0 1px 0;
    border-bottom: 1px solid silver;
}
.formulario p{
    text-align: center;
    padding: 0 0 1px 0;
    font-size: 18px;
}
.formulario label{
    text-align: center;
    padding: 0 0 1px 0;
    font-size: 18px;
}

.submit{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

.boton{
    text-align: center;
    width: 150px;
    height: 50px;
    border: 1px solid;
    background: #7C88FF;
    font-size:28px;
    color:#fff;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
}
.boton:hover{
    border: 1px solid #7C88FF;
    transition: .5s;
    background-color: #fff;
    color: #7C88FF;
    transition: 250ms;
}

@media screen and (max-width:650px){
    .formulario{
        display:block;
        width: 80%;
    }
    .submit{
        display: flex;
        flex-direction: row;
        justify-content: center
    }
    .submit{
        font-size: 25px;
    }
}