// VARIABLES
$font: "Merriweather", serif;
$colorfont2: #f4edd7;
$col-rosa: #feb4b4;
$col-rosa-claro: #fbe4e4;
$col-violeta: #b4bbef;
$col-violeta-claro: #e9ebf9;
$colorfont1: #424242;
$col-naranja: #f09e42;

body,
html {
  height: 100%;
  margin: 0;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  h1 {
    font-size: 140%;
    font-family: $font;
    color: $colorfont1;
    font-weight: bold;
    margin-top: 1rem;
  }

  p {
    font-size: 100%;
    font-family: $font;
    color: $colorfont1;
    margin-bottom: 1rem;
  }

  form {
    margin-top: 1rem;

    .boton {
      margin-top: 1.5rem;
      border: none;
      color: $colorfont1;
      background-color: $col-naranja;
      text-align: center;
      width: 8rem;
      font-size: 100%;
      font-family: $font;
      border-radius: 1px;
    }
  }
}
