<div class="formulario">
  <h1>Agregar el contacto a un grupo</h1>
  <form (ngSubmit)="addToGroup(form)" #form="ngForm" id="agregar-form">
    <div class="for">
      <app-group-select
        *ngFor="let grupo of grupos"
        [groups]="grupo"
        (valor)="union.groupId = $event"
      ></app-group-select>
    </div>
    <div class="submit">
      <input class="boton" type="submit" value="Agregar" />
      <input class="boton" [routerLink]="['/contacts']" value="Atrás" />
    </div>
  </form>
</div>
