// VARIABLES
$font: "Merriweather", serif;
$colorfont2: #f4edd7;
$col-rosa: #feb4b4;
$col-rosa-claro: #fbe4e4;
$col-violeta: #b4bbef;
$col-violeta-claro: #e9ebf9;
$colorfont1: #424242;
$col-naranja: #f09e42;

body,
html {
  height: 100%;
  margin: 0;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 6rem;
}

h1 {
  font-size: 160%;
  font-family: $font;
  color: $colorfont1;
  font-weight: 800;
  margin-top: 1rem;
}

p {
  font-size: 100%;
  font-family: $font;
  color: $colorfont1;
  margin-bottom: 1rem;
}

form {
  margin-top: 1rem;
}

.submit {
  display: flex;
}
#atras {
  border: none;
  margin-top: 2rem;
  padding: 1.5%;
  margin-bottom: 0%;
  background-color: transparent;
  border: solid 2px;
  border-color: $col-rosa;
  // display: flex;
  float: left;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  font-family: $font;
  color: $colorfont1;
  width: 2.5rem;
  margin-right: 4rem;
}

#atras:hover,
#agregar:hover {
  background-color: $col-rosa-claro;
}

#agregar {
  border: none;
  margin-top: 2rem;
  padding: 3%;
  margin-bottom: 0%;
  background-color: $col-naranja;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  font-family: $font;
  color: $colorfont1;
  width: 8rem;
  text-align: center;
  float: right;
  margin-left: 3rem;
}
