<div class="signin">
  <h2 id="registrarse">Registrarse</h2>
  <form action="" (ngSubmit)="registrarme(form)" #form="ngForm">
    <label class="label" for="name" autocomplete="name">Nombre</label>
    <input
      type="text"
      id="name"
      class="input"
      name="name"
      placeholder=""
      [(ngModel)]="registerData.name"
      #name="ngModel"
    />

    <label class="label" for="lastname" autocomplete="lastname">Apellido</label>
    <input
      type="text"
      id="lastname"
      class="input"
      name="lastname"
      placeholder=""
      [(ngModel)]="registerData.lastname"
      #name="ngModel"
    />

    <!-- <label class="label" for="usuario">Nombre de usuario</label>
    <input
      type="text"
      id="usuario"
      class="input"
      name="usuario"
      placeholder=""
    /> -->

    <label class="label" for="email">Correo electrónico</label>
    <input
      type="email"
      id="email"
      class="input"
      name="email"
      placeholder=""
      [(ngModel)]="registerData.email"
      #email="ngModel"
      pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
      [maxlength]="30"
    />
    <p id="mal-ingreso" *ngIf="email.touched && email.errors">
      Correo electrónico inválido.
    </p>

    <label class="label" for="password">Contraseña</label>
    <input
      type="password"
      id="password"
      class="input"
      name="password"
      placeholder=""
      [(ngModel)]="registerData.password"
      [required]="true"
      [minlength]="6"
      #password="ngModel"
    />
    <p id="mal-ingreso" *ngIf="password.touched && password.errors">
      Contraseña inválida. Debe tener al menos 6 caracteres.
    </p>

    <button id="Bregistrarse" type="submit" [disabled]="form.invalid">
      registrar
    </button>
    <a id="Llogin" [routerLink]="['/login']"
      >¿Ya tienes una cuenta? Inicia sesión!</a
    >
  </form>
</div>
